.beds {
  width: 300px;
}

.profes{
  width: 150px;
}
.log{
  width: 40px; 
}
.align{
  text-align: justify;
}
.cursorp{
  cursor: pointer;
}
.leftimg{
  margin-left: 600px;
  width: 300px;
}
.rowtop{
  margin-top: -120px;
}
.alignr{
  text-align: right;
}
.flag{
  width: 30px;
  height: 30px;
}
.centerFlag{
  text-align: center;
}
.justyfyText{
  text-align: justify;
}
.comment{
  width: 100%!important;
  margin-left: 0px;
  min-width: 100%;
}

#comentariosSection{
  height: 400px;
  overflow-x: hidden;
}
.dateC{
  text-align: right;
  width: 100%;
}