.beds {
  width: 300px;
}

.profes{
  width: 150px;
}
.log{
  width: 40px; 
}
.align{
  text-align: justify;
}
.cursorp{
  cursor: pointer;
}
.leftimg{
  margin-left: 330px;
}
.rowtop{
  margin-top: -120px;
}